*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}
    
.skip-link:focus {
  top: 0;
}
/*
app-bar
*/
.app-bar{
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #393646;
  display: grid;
  grid-template-columns: auto 1fr auto;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1),
  0 6px 6px rgba(0, 0, 0, 0.1);
}
.menu{
  background-color: #393646;
  width: 100%;
  display: flex;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}
button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  padding: 12px;
  cursor: pointer;
  color: #F4EEE0;
}
.judul {
  display: flex;
  align-items: center;
}
.judul h1 {
  color:white;
  text-transform: uppercase;
  font-size: 24px;
  user-select: none;
  padding: 10px;
}
.navigation {
  background-color: #393646;
  width: 100%;
  display: flex;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}
.navigation ul {
  padding: 10px;
  list-style: none;

}
.navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: rgb(243, 242, 241);
  padding: 18px;
}
.open {
  left: 0;
}
/*
jumbotron
*/
.jumbotron {
  display: flex;
  align-items: center;
  background: url("../public/images/heros/hero-image_1.jpg") no-repeat;
  justify-content: center;
  min-height: 70vh;
  height: 90%;
  text-align: left;
  background-position: center;
  background-size: cover;
  background-color: black !important;
}
.jumbotron-inner {
  margin: 0 auto;
  max-width: 800px;
}
.jumbotron-title {
  color: #F4EEE0;
  font-weight: 600;
  font-size: 30px;
  text-shadow: 1px 1px black;
  text-align: center;
}
.jumbotron-subtitle {
  color: #F4EEE0;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 600;
  text-shadow: 1px 1px #141414;
}
/* Content */
main {
  width: 100%;
  margin: 0 auto;
}

.content {
  padding: 32px;
}

.latest {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.latest h1 {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 50px;
  color:#04552f ;
}

.list {
  margin: 32px auto auto;
  text-align: left;
  display: grid;
  grid-row-gap: 16px;
}

.city {
  position: absolute;
  top: 8px;
  left: 16px;
  border-radius: 5px;
  background-color: #432c7a;
  padding: 8px;
  color: white;
  font-size: 1.6em;
}
.card-list {
  margin: 32px auto auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.city {
  position: absolute;
  top: 8px;
  left: 16px;
  border-radius: 10px;
  background-color: #6D5D6E;
  padding: 5px 10px 5px;
  color: #F4EEE0;
  font-weight: 500;
  font-size: 2em;
}

.card_content {
  padding: 12px;
  
}

.card_thumb {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
}

.card_rating {
  font-size: 16px;
  text-transform: uppercase;
  color: #6D5D6E;
  font-weight: 600;
}

.card_rating_number {
  color: red;
  text-decoration: none;
  padding: 12px;
  margin-left: -10px;
  min-height: 44px;
  min-width: 44px;
}

.card_title {
  color: black;
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
  transition: 0.3s opacity;
}

.card_title:hover {
  opacity: 0.7;
}

.card_title a {
  min-width: 44px;
  min-height: 44px;
  text-decoration: none;
  color: #333;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}

.card_desc {
  font-family: "Barlow", sans-serif;
  margin-top: -30px;
  font-size: 12px;
  line-height: 1.5em;
  color: #555;
  text-align: justify;
}

.detailRestaurant {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}

.detailRestaurant .restaurant__image {
  width: 100%;
}

.detailRestaurant .restaurant__info h4 {
  padding-top:10px ;
  padding-bottom: 10px;
  color: #04552f;

}
.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;

  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;

  font-size: 18px;
  color: white;
  cursor: pointer;
}
.content {
  margin: 0 auto;
  min-height: 100%;
}

.content .content__heading {
  padding: 10px;
  text-align: center;
  color: #04552f;
}