*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}
    
.skip-link:focus {
  top: 0;
}
.app-bar{
  background-color: #04552f;
  display: grid;
  grid-template-columns: auto 1fr auto;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1),
  0 6px 6px rgba(0, 0, 0, 0.1);
}
.menu{
  display: flex;
    align-items: center; 
}
button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  padding: 12px;
  cursor: pointer;
  color: white;
}
.brand {
  display: flex;
  align-items: center;
}
.brand h1 {
  color:white;
  text-transform: uppercase;
  font-size: 24px;
  user-select: none;
  padding: 10px;
}
.navigation {
  position: absolute;
  top: 30px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  overflow: hidden;
}
.navigation ul {
  padding: 10px;
  list-style: none;

}
.navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: rgb(243, 242, 241);
  padding: 18px;
}
.open {
  left: 0;
}
.jumbotron {
  display: flex;
  align-items: center;
  background: url("../public/images/heros/hero-image_1.jpg") no-repeat;
  justify-content: center;
  min-height: 70vh;
  height: 90%;
  text-align: left;
  background-position: center;
  background-size: cover;
  background-color: black !important;
}
.jumbotron-inner {
  margin: 0 auto;
  max-width: 800px;
}
.jumbotron-title {
  color: #F4EEE0;
  font-weight: 600;
  font-size: 30px;
  text-shadow: 1px 1px black;
  text-align: center;
}
.jumbotron-subtitle {
  color: #F4EEE0;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 600;
  text-shadow: 1px 1px #141414;
}